certifi==2020.12.5
cloudpickle==1.6.0
cycler==0.10.0
cytoolz==0.11.0
dask==2021.4.0
decorator==5.0.6
fsspec==0.9.0
imageio==2.9.0
kiwisolver==1.3.1
locket==0.2.1
matplotlib==3.3.4
mkl-fft==1.3.0
mkl-random==1.2.1
mkl-service==2.3.0
networkx==2.5
numpy==1.20.1
olefile==0.46
partd==1.2.0
Pillow==8.2.0
pip==21.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.4.1
scikit-image==0.16.2
scipy==1.6.2
setuptools==52.0.0
sip==4.19.13
six==1.15.0
toolz==0.11.1
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tornado==6.1
tqdm==4.59.0
typing-extensions==3.7.4.3
wheel==0.36.2
wincertstore==0.2
